#SERschedule {
    margin: auto;
    border-collapse: collapse;
}

#schedule td {
    border:  1px solid black;
    padding: 8px;
    width: 100px;
}

.heading {
    height: 25px;
    text-align: center;
}

.timeStub {
    height: 10px;
    text-align: right;       /*margin is block level*/
}

